# --- Java & Build Artifacts ---
*.class
*.log
build/
dist/
nbproject/private/

# --- NetBeans Specific (Chặn 3 file bạn hỏi) ---
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.ctxt

# --- Package Files ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Crash Logs ---
hs_err_pid*
replay_pid*